Source: scim
Section: utils
Priority: optional
Maintainer: Ming Hua <minghua@rice.edu>
Uploaders: Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, xlibs-dev, libgtk2.0-dev, intltool
Standards-Version: 3.6.1

Package: scim
Architecture: any
Depends: ${shlibs:Depends}
Recommends: m17n-env, scim-gtk2-immodule (= ${Source-Version})
Suggests: scim-uim, scim-chinese, scim-hangul, scim-chewing, scim-m17n, scim-tables-additional, scim-tables-ja, scim-tables-ko, scim-tables-zh
Conflicts: scim-tables-zh (<< 0.4.2), scim-tables-ja (<< 0.4.2), scim-tables-ko (<< 0.4.2), scim-tables-additional (<< 0.4.2), scim-gtk2-immodule (<< 1.2.0), scim-server-socket (<< 1.2.0), scim-frontend-socket (<< 1.2.0), scim-config-socket (<< 1.2.0), scim-config-gconf (<< 1.2.0), scim-chinese (<< 0.5.0), scim-uim (<= 0.1.3-2), scim-m17n (<= 0.1.3-1), scim-hangul (<= 0.1.2-1), scim-chewing (<= 0.2.0-2.1)
Description: Smart Common Input Method platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.  It
 provides a common platform for different independent IM programs.  SCIM
 is highly modularized, providing abstract interfaces to various modules
 for configuration, IM engine and front end.  It supports both shared
 library and server/client mode.
 .
 This package is the main binary package of SCIM.  It includes: the main
 program scim; other support programs; simple configure module; X11
 front end module; rawcode and table IM engine modules; GTK+ panel; and
 GUI setup tools.
 .
 Currently, SCIM supports XIM, GTK+ immodule, and Qt immodule framework,
 features various input method engines such as scim-table, scim-chinese
 (smart pinyin), scim-uim (using UIM library), scim-hangul, scim-chewing
 (using libchewing library), and scim-m17n (using libm17n library).
 .
 If you use generic table IM engine, you need to get the data table in
 other packages, such as scim-tables-zh, scim-tables-ja, scim-tables-ko,
 or scim-tables-additional.  You can also use other IM engines packaged
 in scim-chinese, scim-uim, scim-hangul, scim-chewing and scim-m17n.
 .
 For development on SCIM platform, please see the description of package
 scim-dev.
 .
 Author: James Su <suzhe@tsinghua.org.cn>
 .
 Homepage: http://www.scim-im.org/

Package: libscim6c2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: scim (<< 1.2.0), libscim6
Replaces: libscim6
Description: library for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package provides runtime libraries for SCIM platform.
 .
 For details about SCIM, please see the description of package scim.

Package: libscim-dev
Section: libdevel
Architecture: any
Depends: libscim6c2 (= ${Source-Version}), libgtk2.0-dev, libpango1.0-dev
Conflicts: scim-dev (<< 1.2.0)
Description: development library for SCIM platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package provides development libraries on SCIM platform.  It
 includes header files and static libraries.  The development
 documentations can be found in the scim-dev-doc package.
 .
 SCIM can be used as a dynamically loaded library on a single machine,
 or as a server/client model through socket in a network enviroment.  As
 a component of the system, SCIM can work with existing IM framework
 such as XIM or IIIMF (in progress), as well as using client specific IM
 interface, such as GTK2 immodule or Qt immodule.  As an IM application,
 SCIM can use various IM engines to provide input method in many
 languages, either by native modules (scim-table, scim-chinese,
 scim-hangul) or an interface to other IM libraries (scim-uim, 
 scim-m17n, scim-chewing).
 .
 For details about SCIM, please see the description of package scim.

Package: scim-gtk2-immodule
Architecture: any
Depends: ${shlibs:Depends}, scim-modules-socket (= ${Source-Version})
Description: GTK2 IMModule with SCIM as backend
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the GTK+ 2.x native input method module for SCIM.  It
 provide a GTK IM module with SCIM as the input backend.  This input
 method module should work within all GTK+ 2.x platforms, including
 gtk-x11, gtk-linuxfb and gtk-directfb.
 .
 The GTK IM module communicates with SCIM backend through the socket IM
 engine module and socket front end module provided by SCIM.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-modules-socket
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: scim-config-socket, scim-frontend-socket, scim-server-socket
Replaces: scim-config-socket, scim-frontend-socket, scim-server-socket
Provides: scim-config-socket, scim-frontend-socket, scim-server-socket
Description: socket modules for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package provides socket modules for SCIM.  SCIM can use a local or
 inet socket as the frontend and connects to the IM engines.  Then other
 computers and/or enviroments can share these input methods by using
 socket IM engine module and socket configure module to connect to the
 socket.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-dev
Section: devel
Architecture: any
Depends: libscim-dev (= ${Source-Version}), scim-dev-doc (= ${Source-Version})
Description: Smart Common Input Method platform (development files)
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is a meta package to provide development libraries as well
 as docomentations for SCIM platform.
 .
 For more information about SCIM, please see the description of the scim
 package.

Package: scim-dev-doc
Section: doc
Architecture: all
Description: Development documentation for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains doxygen-generated HTML development documentation
 for SCIM APIs.
 .
 For more information about SCIM and SCIM development, please see the
 description of scim and scim-dev packages.
