Source: scim
Section: utils
Priority: optional
Maintainer: Ming Hua <minghua@rice.edu>
Uploaders: Osamu Aoki <osamu@debian.org>
Build-Depends: debhelper (>= 4.0.0), dpatch, xlibs-dev, libgtk2.0-dev, libgconf2-dev, intltool
Standards-Version: 3.6.1

Package: scim
Architecture: any
Depends: ${shlibs:Depends}
Recommends: m17n-env, scim-gtk2-immodule (>= 1.0.1)
Suggests: scim-uim, scim-chinese, scim-hangul, scim-m17n, scim-tables-additional, scim-tables-ja, scim-tables-ko, scim-tables-zh
Conflicts: scim-suite, scim-config-simple, scim-frontend-x11, scim-server-rawcode, scim-server-table, libscim-1.0-0 (<< 1.0.0), libscim-gtkutils-1.0-0 (<< 1.0.0), scim-tables-zh (<< 0.4.2), scim-tables-ja (<< 0.4.2), scim-tables-ko (<< 0.4.2), scim-tables-additional (<< 0.4.2), scim-chinese (<< 0.4.2), scim-gtk2-immodule (<< 1.0.0)
Replaces: scim-suite, scim-config-simple, scim-frontend-x11, scim-server-rawcode, scim-server-table, libscim-1.0-0 (<< 1.0.0), libscim-gtkutils-1.0-0 (<< 1.0.0)
Description: Smart Common Input Method platform
 SCIM (Smart Common Input Method) is an input method (IM) platform.  It
 provides a common platform for different independent IM programs.  SCIM
 is highly modularized, providing abstract interfaces to various modules
 for configuration, IM engine and front end.  It supports both shared
 library and server/client mode.
 .
 This package is the main binary package of SCIM.  It includes: the main
 program scim; other support programs; simple configure module; X11
 front end module; rawcode and table IM engine modules; GTK+ panel; and
 GUI setup tools.
 .
 Currently, SCIM supports XIM, GTK+ immodule, and Qt immodule framework,
 features various input method engines such as scim-table, scim-chinese
 (smart pinyin), scim-uim (using UIM library), scim-hangul, and
 scim-m17n (using libm17n library).
 .
 If you use generic table IM engine, you need to get the data table in
 other packages, such as scim-tables-zh, scim-tables-ja, scim-tables-ko,
 or scim-tables-additional.  You can also use other IM engines packaged
 in scim-chinese, scim-uim, scim-hangul and scim-m17n.
 .
 For development on SCIM platform, please see the description of package
 scim-dev.
 .
 Author: James Su <suzhe@tsinghua.org.cn>
 .
 Homepage: http://www.scim-im.org/

Package: scim-config-gconf
Architecture: any
Depends: ${shlibs:Depends}, gconf2
Description: GConf configure module for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the GConf configure module for SCIM.  The default
 configure module for SCIM is the simple module, which stores the
 configurations in plain text files.  However, if you have GConf and
 prefer to configure SCIM with it, you can install this module, and tell
 SCIM to use it instead of the simple configure module.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-config-socket
Architecture: any
Depends: ${shlibs:Depends}, scim-frontend-socket (>= 1.0.1)
Description: Socket configure module for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the socket configure module for SCIM.  It exchanges
 data with socket front end module, and they act as the agent between
 local front end modules and remote configure modules.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-frontend-socket
Architecture: any
Depends: ${shlibs:Depends}
Description: Socket front end module for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the socket front end module for SCIM.  It exchanges
 data with socket IM engine module and socket configure module via local
 or inet socket.  With scim-server-socket and scim-config-socket
 pakcages, you can run SCIM as a network/unix socket daemon and share a
 set of input methods among different computers and/or environments.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-server-socket
Architecture: any
Depends: ${shlibs:Depends}
Description: Socket IM engine module for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the socket IM engine module for SCIM.  It exchanges
 data with socket front end module, and they act as the agent between
 local front end modules and remote IM engine modules.
 .
 The name of this package is kept as scim-server-socket to facilitate
 upgrades (the IM engine modules used to be called server modules).
 .
 For details about SCIM, please see the description of package scim.

Package: scim-gtk2-immodule
Architecture: any
Depends: ${shlibs:Depends}, scim-server-socket (>= 1.0.1), scim-frontend-socket (>= 1.0.1), scim-config-socket (>= 1.0.1)
Description: GTK2 IMModule with SCIM as backend
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is the GTK+ 2.x native input method module for SCIM.  It
 provide a GTK IM module with SCIM as the input backend.  This input
 method module should work within all GTK+ 2.x platforms, including
 gtk-x11, gtk-linuxfb and gtk-directfb.
 .
 The GTK IM module communicates with SCIM backend through the socket IM
 engine module and socket front end module provided by SCIM.
 .
 For details about SCIM, please see the description of package scim.

Package: scim-dev
Section: devel
Architecture: any
Depends: scim (= ${Source-Version}), libc6-dev | libc-dev
Recommends: scim-dev-doc (>= 1.0.1)
Conflicts: libscim-1.0-dev (<< 1.0.0), libscim-gtkutils-1.0-dev (<< 1.0.0)
Replaces: libscim-1.0-dev (<< 1.0.0), libscim-gtkutils-1.0-dev (<< 1.0.0)
Description: Smart Common Input Method platform (development files)
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package is for development on SCIM platform.  It includes header
 files and static libraries.  The development documentations can be
 found in the scim-dev-doc package.
 .
 SCIM can be used as a dynamically loaded library on a single machine,
 or as a server/client model through socket in a network enviroment.  As
 a component of the system, SCIM can work with existing IM framework
 such as XIM or IIIMF (in progress), as well as using client specific IM
 interface, such as GTK2 immodule or Qt immodule.  As an IM application,
 SCIM can use various IM engines to provide input method in many
 languages, either by native modules (scim-table, scim-chinese,
 scim-hangul) or an interface to other IM libraries (scim-uim,
 scim-m17n).
 .
 For more information about SCIM, please see the description of the scim
 package.

Package: scim-dev-doc
Section: doc
Architecture: all
Conflicts: scim-dev (<< 1.0.0), scim-doc (<< 0.9.7)
Replaces: scim-dev (<< 1.0.0), scim-doc (<< 0.9.7)
Description: Development documentation for SCIM
 SCIM (Smart Common Input Method) is an input method (IM) platform.
 .
 This package contains doxygen-generated HTML development documentation
 for SCIM APIs.
 .
 For more information about SCIM and SCIM development, please see the
 description of scim and scim-dev packages.
